@model IEnumerable<ModelosControladores.Models.AlmacenamientoBodega>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Almacenamiento.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bodega.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Almacenamiento.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bodega.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAlmacenamientoBodega }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAlmacenamientoBodega }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAlmacenamientoBodega })
        </td>
    </tr>
}

</table>
